<?xml version="1.0" encoding="iso-8859-1"?><!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
        <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    <title>Iran-Infos.de -- Erstes deutsch- und persischsprachiges Iran Portal</title>
<meta name="description" content="Iran-Infos.de, Iran Nachrichten und Informationsportal" />
<meta name="keywords" content="Iran,Persien,Persia,Teheran,Tehran" />
<meta name="robots" content="index, follow" />
<base href="http://iran-infos.de/" />
    <link rel="shortcut icon" href="http://iran-infos.de/images/favicon.gif" />
    <link rel="stylesheet" href="http://iran-infos.de/templates/deutsch/css/template_css.css" type="text/css"/><script type="text/javascript" src="cookies.js"></script>
<script type="text/javascript" src="efa_fontsize.js"></script>

<script type="text/javascript" src="http://iran-infos.de/templates/deutsch/md_stylechanger.js"></script>

</head>

<body leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">

<script type="text/javascript">if (efa_fontSize) efa_fontSize.efaInit();</script>

<table width="1000" border="0" cellspacing="0" cellpadding="0">
 <tr><td width="800" valign="top">

  <table width="800" border="0" cellspacing="0" cellpadding="0">
   <tr><td>
     <object type="application/x-shockwave-flash"
     data="http://iran-infos.de/templates/deutsch/images/sitename.swf" id="Iran-Infos.de" width="800" height="100">
     <param name="movie" value="http://iran-infos.de/templates/deutsch/images/sitename.swf">
     <param name="bgcolor" value ="#FFFFFF">
     <param name="quality" value ="high">
     <param name="loop" value="false">
     <param name="menu" value="false">
     <param name="swliveconnect" value="true">
     <!-
     HTML-Code für Hinweis, wenn erforderliches Plugin nicht installiert ist.
     -->
     </object>
   </td></tr>
   <tr><td bgcolor="#989898">

        <table width="800">
           <td width="40"></td>
           <td width="620">
           <a href="http://iran-infos.de/"><img src="http://iran-infos.de/templates/deutsch/images/germany1.gif" alt="Deutsch" border="0"></a>&nbsp;&nbsp;
           <a href="http://iran-infos.com/"><img src="http://iran-infos.de/templates/deutsch/images/iran1.jpg" alt="Farsi" border="0"></a>
           </td>
<td>
<a href="index.php" title="Increase size" onclick="changeFontSize(1);return false;">
<img src="templates/deutsch/images/jos_css_larger.png" border="0" alt="Text Size larger" /></a>
<a href="index.php" title="Decrease size" onclick="changeFontSize(-1);return false;">
<img src="templates/deutsch/images/jos_css_smaller.png" border="0" alt="Text Size smaller" /></a>
<a href="index.php" title="Revert styles to default" onclick="revertStyles(); return false;">
<img src="templates/deutsch/images/jos_css_reset.png" border="0" alt="Reset Text Size" /></a>
</td>

                    </table>

   </td></tr>
   <tr><td width="800">

        <table width="800" border="0" cellspacing="0" cellpadding="0" class="tab2">
         <tr>
          <td width="155" valign="top" bgcolor="#989898">		<table cellpadding="0" cellspacing="0" class="moduletable">
					<tr>
				<th valign="top">
					Main Menü				</th>
			</tr>
					<tr>
			<td>
				
<table width="100%" border="0" cellpadding="0" cellspacing="0">
<tr align="left"><td><a href="http://iran-infos.de/index.php/component/option,com_frontpage/Itemid,1/" class="mainlevel" >Nachrichten</a></td></tr>
<tr align="left"><td><a href="http://iran-infos.de/index.php/content/view/39/60/" class="mainlevel" >Iran-Infos</a></td></tr>
<tr align="left"><td><a href="http://iran-infos.de/index.php/content/view/46/72/" class="mainlevel" >Services</a>

<div style="padding-left: 4px"><img src="http://iran-infos.de/templates/deutsch/images/indent1.png" alt="" /><a href="http://iran-infos.de/index.php/component/option,com_zoom/Itemid,74/" class="sublevel" >Galerie</a></div>
<div style="padding-left: 4px"><img src="http://iran-infos.de/templates/deutsch/images/indent1.png" alt="" /><a href="http://iran-infos.de/index.php/component/option,com_bookmarks/Itemid,80/" class="sublevel" >Weblinks</a></div>
<div style="padding-left: 4px"><img src="http://iran-infos.de/templates/deutsch/images/indent1.png" alt="" /><a href="http://iran-infos.de/index.php/component/option,com_extcalendar/Itemid,75/" class="sublevel" >Terminkalender</a></div>
<div style="padding-left: 4px"><img src="http://iran-infos.de/templates/deutsch/images/indent1.png" alt="" /><a href="http://iran-infos.de/index.php/component/option,com_search/Itemid,73/" class="sublevel" >Suche</a></div>
<div style="padding-left: 4px"><img src="http://iran-infos.de/templates/deutsch/images/indent1.png" alt="" /><a href="http://iran-infos.de/index.php/component/option,com_login/Itemid,78/" class="sublevel" id="active_menu">Login</a></div>
<div style="padding-left: 4px"><img src="http://iran-infos.de/templates/deutsch/images/indent1.png" alt="" /><a href="http://iran-infos.de/index.php/component/option,com_wrapper/Itemid,82/" class="sublevel" >TV</a></div>
<div style="padding-left: 4px"><img src="http://iran-infos.de/templates/deutsch/images/indent1.png" alt="" /><a href="http://iran-infos.de/index.php/content/view/62/100/" class="sublevel" >Musik MP3</a></div>
<div style="padding-left: 4px"><img src="http://iran-infos.de/templates/deutsch/images/indent1.png" alt="" /><a href="http://iran-infos.de/index.php/content/view/16/104/" class="sublevel" >Datumsumrechner</a></div>
<div style="padding-left: 4px"><img src="http://iran-infos.de/templates/deutsch/images/indent1.png" alt="" /><a href="http://iran-infos.de/index.php/content/view/869/110/" class="sublevel" >Filme</a></div>
</td></tr>
<tr align="left"><td><a href="http://iran-infos.de/index.php/content/view/45/68/" class="mainlevel" >About us</a></td></tr>
<tr align="left"><td><a href="http://iran-infos.com" class="mainlevel" >&#1601;&#1575;&#1585;&#1587;&#1740;</a></td></tr>
</table>			</td>
		</tr>
		</table>
				<table cellpadding="0" cellspacing="0" class="moduletable">
				<tr>
			<td>
				<iframe name="JRadio3" marginwidth="0" marginheight="0" height="90" width="150" scrolling="no" align="center" border="0" frameborder="0" src="JoomlaRadio_v3/index.php"></iframe>			</td>
		</tr>
		</table>
				<table cellpadding="0" cellspacing="0" class="moduletable">
				<tr>
			<td>
							</td>
		</tr>
		</table>
		          </td>
          <td valign="top">







            
               
             <table width="100%" border="0" cellspacing="0" cellpadding="0">
               <tr>


             <td align="left" valign="top" width="100%" class="tdmainbody">
               
                         		<form action="http://iran-infos.de/index.php/index.php?option=login" method="post" name="login" id="login">
		<table width="100%" border="0" align="center" cellpadding="4" cellspacing="0" class="contentpane">
		<tr>
			<td colspan="2">
							<div class="componentheading">
				Login				</div>
							<div>
			<img src="http://iran-infos.de/images/stories/key.jpg" align="right" hspace="10" alt="" />							Bitte anmelden, um auf den privaten Bereich der Website zuzugreifen				<br/><br/>
							</div>
			</td>
		</tr>
		<tr>
			<td align="center" width="50%">
				<br />
				<table>
				<tr>
					<td align="center">
					Benutzername					<br />
					</td>
					<td align="center">
					Passwort					<br />
					</td>
				</tr>
				<tr>
					<td align="center">
					<input name="username" type="text" class="inputbox" size="20" />
					</td>
					<td align="center">
					<input name="passwd" type="password" class="inputbox" size="20" />
					</td>
				</tr>
				<tr>
					<td align="center" colspan="2">
					<br/>
					Angemeldet bleiben					<input type="checkbox" name="remember" class="inputbox" value="yes" />
					<br/>
					<a href="http://iran-infos.de/index.php/component/option,com_registration/task,lostPassword/">
					Passwort vergessen?					</a>
											<br/>
						Noch kein Benutzerkonto? <br />						<a href="http://iran-infos.de/index.php/component/option,com_registration/task,register/">
						Registrieren						</a>
											<br/><br/><br/>
					</td>
				</tr>
				</table>
			</td>
			<td>
			<div align="center">
			<input type="submit" name="submit" class="button" value="Anmelden" />
			</div>

			</td>
		</tr>
		<tr>
			<td colspan="2">
			<noscript>
			!Warnung! F&uuml;r eine einwandfreie Funktion muss JavaScript aktiviert sein.			</noscript>
			</td>
		</tr>
		</table>
					<div class="back_button">
				<a href='javascript:history.go(-1)'>
					[&nbsp;Zur&uuml;ck&nbsp;]</a>
			</div>
			
		<input type="hidden" name="op2" value="login" />
		<input type="hidden" name="return" value="http://iran-infos.de" />
		<input type="hidden" name="lang" value="german" />
		<input type="hidden" name="message" value="0" />
		<input type="hidden" name="jc9dfa48b00d00054d4a6b9ea0141d12b" value="1" />
		</form>
		               </td>



               </tr>
              </table>

         </td>
          
          
               <td valign="top" width="140" bgcolor="#eeeeee">		<table cellpadding="0" cellspacing="0" class="moduletable">
					<tr>
				<th valign="top">
					Währungen				</th>
			</tr>
					<tr>
			<td>
				
<table class="curs" border="0" cellspacing="1" cellpadding="0" class="normal" width="100%">
<tr>
    <td colspan="3" align="center">
    <div align="center" style="padding-bottom: 2px;">ECB Exchange Rates<br>
	   Currency EUR&nbsp;<strong>
	   <img src='http://iran-infos.de/modules/images_eur/EUR.jpg' border=0>	   <br>25-03-2016</strong></div>
    </td>
</tr>
<tr><td width='15%'><img src='http://iran-infos.de/modules/images_eur/USD.jpg' border=0></td><td width='20%'>USD&nbsp;</td><td align='right'> </td></tr><tr><td width='15%'><img src='http://iran-infos.de/modules/images_eur/GBP.jpg' border=0></td><td width='20%'>GBP&nbsp;</td><td align='right'> </td></tr><tr><td width='15%'><img src='http://iran-infos.de/modules/images_eur/CHF.jpg' border=0></td><td width='20%'>CHF&nbsp;</td><td align='right'> </td></tr><tr><td width='15%'><img src='http://iran-infos.de/modules/images_eur/DKK.jpg' border=0></td><td width='20%'>DKK&nbsp;</td><td align='right'> </td></tr><tr><td width='15%'><img src='http://iran-infos.de/modules/images_eur/SEK.jpg' border=0></td><td width='20%'>SEK&nbsp;</td><td align='right'> </td></tr></table>


			</td>
		</tr>
		</table>
				<table cellpadding="0" cellspacing="0" class="moduletable">
					<tr>
				<th valign="top">
					Wetter				</th>
			</tr>
					<tr>
			<td>
				XML error: EntityRef: expecting ';' at line 94