<?xml version="1.0" encoding="iso-8859-1"?><!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
        <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    <title>Iran-Infos.de -- Erstes deutsch- und persischsprachiges Iran Portal - Wien wird Drehscheibe für Iran-Atomprogramm</title>
<meta name="title" content="Wien wird Drehscheibe für Iran-Atomprogramm" />
<meta name="author" content="Administrator" />
<meta name="description" content="Iran-Infos.de, Iran Nachrichten und Informationsportal" />
<meta name="keywords" content="Iran,Persien,Persia,Teheran,Tehran" />
<meta name="robots" content="index, follow" />
<base href="http://iran-infos.de/" />
    <link rel="shortcut icon" href="http://iran-infos.de/images/favicon.gif" />
    <link rel="stylesheet" href="http://iran-infos.de/templates/deutsch/css/template_css.css" type="text/css"/><script type="text/javascript" src="cookies.js"></script>
<script type="text/javascript" src="efa_fontsize.js"></script>

<script type="text/javascript" src="http://iran-infos.de/templates/deutsch/md_stylechanger.js"></script>

</head>

<body leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">

<script type="text/javascript">if (efa_fontSize) efa_fontSize.efaInit();</script>

<table width="1000" border="0" cellspacing="0" cellpadding="0">
 <tr><td width="800" valign="top">

  <table width="800" border="0" cellspacing="0" cellpadding="0">
   <tr><td>
     <object type="application/x-shockwave-flash"
     data="http://iran-infos.de/templates/deutsch/images/sitename.swf" id="Iran-Infos.de" width="800" height="100">
     <param name="movie" value="http://iran-infos.de/templates/deutsch/images/sitename.swf">
     <param name="bgcolor" value ="#FFFFFF">
     <param name="quality" value ="high">
     <param name="loop" value="false">
     <param name="menu" value="false">
     <param name="swliveconnect" value="true">
     <!-
     HTML-Code für Hinweis, wenn erforderliches Plugin nicht installiert ist.
     -->
     </object>
   </td></tr>
   <tr><td bgcolor="#989898">

        <table width="800">
           <td width="40"></td>
           <td width="620">
           <a href="http://iran-infos.de/"><img src="http://iran-infos.de/templates/deutsch/images/germany1.gif" alt="Deutsch" border="0"></a>&nbsp;&nbsp;
           <a href="http://iran-infos.com/"><img src="http://iran-infos.de/templates/deutsch/images/iran1.jpg" alt="Farsi" border="0"></a>
           </td>
<td>
<a href="index.php" title="Increase size" onclick="changeFontSize(1);return false;">
<img src="templates/deutsch/images/jos_css_larger.png" border="0" alt="Text Size larger" /></a>
<a href="index.php" title="Decrease size" onclick="changeFontSize(-1);return false;">
<img src="templates/deutsch/images/jos_css_smaller.png" border="0" alt="Text Size smaller" /></a>
<a href="index.php" title="Revert styles to default" onclick="revertStyles(); return false;">
<img src="templates/deutsch/images/jos_css_reset.png" border="0" alt="Reset Text Size" /></a>
</td>

                    </table>

   </td></tr>
   <tr><td width="800">

        <table width="800" border="0" cellspacing="0" cellpadding="0" class="tab2">
         <tr>
          <td width="155" valign="top" bgcolor="#989898">		<table cellpadding="0" cellspacing="0" class="moduletable">
					<tr>
				<th valign="top">
					Main Menü				</th>
			</tr>
					<tr>
			<td>
				
<table width="100%" border="0" cellpadding="0" cellspacing="0">
<tr align="left"><td><a href="http://iran-infos.de/index.php/component/option,com_frontpage/Itemid,1/" class="mainlevel" >Nachrichten</a></td></tr>
<tr align="left"><td><a href="http://iran-infos.de/index.php/content/view/39/60/" class="mainlevel" >Iran-Infos</a></td></tr>
<tr align="left"><td><a href="http://iran-infos.de/index.php/content/view/46/72/" class="mainlevel" >Services</a></td></tr>
<tr align="left"><td><a href="http://iran-infos.de/index.php/content/view/45/68/" class="mainlevel" >About us</a></td></tr>
<tr align="left"><td><a href="http://iran-infos.com" class="mainlevel" >&#1601;&#1575;&#1585;&#1587;&#1740;</a></td></tr>
</table>			</td>
		</tr>
		</table>
				<table cellpadding="0" cellspacing="0" class="moduletable">
				<tr>
			<td>
				<iframe name="JRadio3" marginwidth="0" marginheight="0" height="90" width="150" scrolling="no" align="center" border="0" frameborder="0" src="JoomlaRadio_v3/index.php"></iframe>			</td>
		</tr>
		</table>
				<table cellpadding="0" cellspacing="0" class="moduletable">
				<tr>
			<td>
							</td>
		</tr>
		</table>
		          </td>
          <td valign="top">







            
               
             <table width="100%" border="0" cellspacing="0" cellpadding="0">
               <tr>


             <td align="left" valign="top" width="100%" class="tdmainbody">
               
                         			<table class="contentpaneopen">
			<tr>
								<td class="contentheading" width="100%">
					Wien wird Drehscheibe für Iran-Atomprogramm									</td>
								<td align="right" width="100%" class="buttonheading">
					<a href="http://iran-infos.de/index2.php?option=com_content&amp;task=view&amp;id=1175&amp;pop=1&amp;page=0&amp;Itemid=33" target="_blank" onclick="window.open('http://iran-infos.de/index2.php?option=com_content&amp;task=view&amp;id=1175&amp;pop=1&amp;page=0&amp;Itemid=33','win2','status=no,toolbar=no,scrollbars=yes,titlebar=no,menubar=no,resizable=yes,width=640,height=480,directories=no,location=no'); return false;" title="Drucken">
						<img src="http://iran-infos.de/images/M_images/printButton.png"  alt="Drucken" name="Drucken" align="middle" border="0" /></a>
				</td>
							<td align="right" width="100%" class="buttonheading">
				<a href="http://iran-infos.de/index2.php?option=com_content&amp;task=emailform&amp;id=1175&amp;itemid=33" target="_blank" onclick="window.open('http://iran-infos.de/index2.php?option=com_content&amp;task=emailform&amp;id=1175&amp;itemid=33','win2','status=no,toolbar=no,scrollbars=yes,titlebar=no,menubar=no,resizable=yes,width=400,height=250,directories=no,location=no'); return false;" title="E-Mail">
					<img src="http://iran-infos.de/images/M_images/emailButton.png"  alt="E-Mail" name="E-Mail" align="middle" border="0" /></a>
			</td>
						</tr>
			</table>
			
		<table class="contentpaneopen">
					<tr>
				<td valign="top" colspan="2" class="createdate">
					25.04.2007 19:59				</td>
			</tr>
					<tr>
			<td valign="top" colspan="2">
				ORF - Heute gab der Iran per Inserat in der "Financial Times" die Ausschreibung für zwei weitere Atommeiler in Buschehr bekannt.&nbsp;&nbsp; <A class=readon href="http://news.orf.at/?href=http%3A%2F%2Fnews.orf.at%2Fticker%2F251390.html" target=_blank><STRONG>weiter...</STRONG></A><br clear="all"/>			</td>
		</tr>
				</table>
		
		<span class="article_seperator">&nbsp;</span>
		
					<table align="center" style="margin-top: 25px;">
			<tr>
									<th class="pagenav_prev">
						<a href="http://iran-infos.de/index.php/content/view/1354/33/">
							&lt; zur&uuml;ck</a>
					</th>
										<td width="50">&nbsp;

					</td>
										<th class="pagenav_next">
						<a href="http://iran-infos.de/index.php/content/view/354/33/">
							weiter &gt;</a>
					</th>
								</tr>
			</table>
						<div class="back_button">
				<a href='javascript:history.go(-1)'>
					[&nbsp;Zur&uuml;ck&nbsp;]</a>
			</div>
			               </td>



               </tr>
              </table>

         </td>
          
          
               <td valign="top" width="140" bgcolor="#eeeeee">		<table cellpadding="0" cellspacing="0" class="moduletable">
					<tr>
				<th valign="top">
					Suche				</th>
			</tr>
					<tr>
			<td>
				
<form action="index.php?option=com_search&amp;Itemid=73" method="get">
    <div class="search">
        <input name="searchword" id="mod_search_searchword" maxlength="50" alt="search" class="inputbox" type="text" size="20" value="Suchwort eingeben..."  onblur="if(this.value=='') this.value='Suchwort eingeben...';" onfocus="if(this.value=='Suchwort eingeben...') this.value='';" />    </div>

    <input type="hidden" name="option" value="com_search" />
    <input type="hidden" name="Itemid" value="73" />   
</form>			</td>
		</tr>
		</table>
				<table cellpadding="0" cellspacing="0" class="moduletable">
					<tr>
				<th valign="top">
					Währungen				</th>
			</tr>
					<tr>
			<td>
				
<table class="curs" border="0" cellspacing="1" cellpadding="0" class="normal" width="100%">
<tr>
    <td colspan="3" align="center">
    <div align="center" style="padding-bottom: 2px;">ECB Exchange Rates<br>
	   Currency EUR&nbsp;<strong>
	   <img src='http://iran-infos.de/modules/images_eur/EUR.jpg' border=0>	   <br>11-12-2015</strong></div>
    </td>
</tr>
<tr><td width='15%'><img src='http://iran-infos.de/modules/images_eur/USD.jpg' border=0></td><td width='20%'>USD&nbsp;</td><td align='right'> </td></tr><tr><td width='15%'><img src='http://iran-infos.de/modules/images_eur/GBP.jpg' border=0></td><td width='20%'>GBP&nbsp;</td><td align='right'> </td></tr><tr><td width='15%'><img src='http://iran-infos.de/modules/images_eur/CHF.jpg' border=0></td><td width='20%'>CHF&nbsp;</td><td align='right'> </td></tr><tr><td width='15%'><img src='http://iran-infos.de/modules/images_eur/DKK.jpg' border=0></td><td width='20%'>DKK&nbsp;</td><td align='right'> </td></tr><tr><td width='15%'><img src='http://iran-infos.de/modules/images_eur/SEK.jpg' border=0></td><td width='20%'>SEK&nbsp;</td><td align='right'> </td></tr></table>


			</td>
		</tr>
		</table>
				<table cellpadding="0" cellspacing="0" class="moduletable">
					<tr>
				<th valign="top">
					Wetter				</th>
			</tr>
					<tr>
			<td>
				XML error: EntityRef: expecting ';' at line 91