<?xml version="1.0" encoding="iso-8859-1"?><!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
        <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    <title>Iran-Infos.de -- Erstes deutsch- und persischsprachige Iran Portal - Großbritannien holt Diplomaten aus dem Iran</title>
<meta name="title" content="Großbritannien holt Diplomaten aus dem Iran" />
<meta name="author" content="Administrator" />
<meta name="description" content="Iran-Infos.de, Iran Nachrichten und Informationsportal" />
<meta name="keywords" content="Iran,Persien,Persia,Teheran,Tehran" />
<meta name="robots" content="index, follow" />
<base href="http://iran-infos.de/" />
    <link rel="shortcut icon" href="http://iran-infos.de/images/favicon.gif" />
    <link rel="stylesheet" href="http://iran-infos.de/templates/deutsch/css/template_css.css" type="text/css"/><script type="text/javascript" src="cookies.js"></script>
<script type="text/javascript" src="efa_fontsize.js"></script>

<script type="text/javascript" src="http://iran-infos.de/templates/deutsch/md_stylechanger.js"></script>

</head>

<body leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">

<script type="text/javascript">if (efa_fontSize) efa_fontSize.efaInit();</script>

<table width="1000" border="0" cellspacing="0" cellpadding="0">
 <tr><td width="800" valign="top">

  <table width="800" border="0" cellspacing="0" cellpadding="0">
   <tr><td>
     <object type="application/x-shockwave-flash"
     data="http://iran-infos.de/templates/deutsch/images/sitename.swf" id="Iran-Infos.de" width="800" height="100">
     <param name="movie" value="http://iran-infos.de/templates/deutsch/images/sitename.swf">
     <param name="bgcolor" value ="#FFFFFF">
     <param name="quality" value ="high">
     <param name="loop" value="false">
     <param name="menu" value="false">
     <param name="swliveconnect" value="true">
     <!-
     HTML-Code für Hinweis, wenn erforderliches Plugin nicht installiert ist.
     -->
     </object>
   </td></tr>
   <tr><td bgcolor="#989898">

        <table width="800">
           <td width="40"></td>
           <td width="620">
           <a href="http://iran-infos.de/"><img src="http://iran-infos.de/templates/deutsch/images/germany1.gif" alt="Deutsch" border="0"></a>&nbsp;&nbsp;
           <a href="http://iran-infos.com/"><img src="http://iran-infos.de/templates/deutsch/images/iran1.jpg" alt="Farsi" border="0"></a>
           </td>
<td>
<a href="index.php" title="Increase size" onclick="changeFontSize(1);return false;">
<img src="templates/deutsch/images/jos_css_larger.png" border="0" alt="Text Size larger" /></a>
<a href="index.php" title="Decrease size" onclick="changeFontSize(-1);return false;">
<img src="templates/deutsch/images/jos_css_smaller.png" border="0" alt="Text Size smaller" /></a>
<a href="index.php" title="Revert styles to default" onclick="revertStyles(); return false;">
<img src="templates/deutsch/images/jos_css_reset.png" border="0" alt="Reset Text Size" /></a>
</td>

                    </table>

   </td></tr>
   <tr><td width="800">

        <table width="800" border="0" cellspacing="0" cellpadding="0" class="tab2">
         <tr>
          <td width="155" valign="top" bgcolor="#989898">		<table cellpadding="0" cellspacing="0" class="moduletable">
					<tr>
				<th valign="top">
					Main Menü				</th>
			</tr>
					<tr>
			<td>
				
<table width="100%" border="0" cellpadding="0" cellspacing="0">
<tr align="left"><td><a href="http://iran-infos.de/index/component/option,com_frontpage/Itemid,1/" class="mainlevel" >Nachrichten</a></td></tr>
<tr align="left"><td><a href="http://iran-infos.de/index/content/view/39/60/" class="mainlevel" >Iran-Infos</a></td></tr>
<tr align="left"><td><a href="http://iran-infos.de/index/content/view/46/72/" class="mainlevel" >Services</a></td></tr>
<tr align="left"><td><a href="http://iran-infos.de/index/content/view/45/68/" class="mainlevel" >About us</a></td></tr>
<tr align="left"><td><a href="http://iran-infos.com" class="mainlevel" >&#1601;&#1575;&#1585;&#1587;&#1740;</a></td></tr>
</table>			</td>
		</tr>
		</table>
				<table cellpadding="0" cellspacing="0" class="moduletable">
				<tr>
			<td>
							</td>
		</tr>
		</table>
		          </td>
          <td valign="top">







            
               
             <table width="100%" border="0" cellspacing="0" cellpadding="0">
               <tr>


             <td align="left" valign="top" width="100%" class="tdmainbody">
               
                         			<table class="contentpaneopen">
			<tr>
								<td class="contentheading" width="100%">
					Großbritannien holt Diplomaten aus dem Iran									</td>
								<td align="right" width="100%" class="buttonheading">
					<a href="http://iran-infos.de/index2.php?option=com_content&amp;task=view&amp;id=1543&amp;pop=1&amp;page=0" target="_blank" onclick="window.open('http://iran-infos.de/index2.php?option=com_content&amp;task=view&amp;id=1543&amp;pop=1&amp;page=0','win2','status=no,toolbar=no,scrollbars=yes,titlebar=no,menubar=no,resizable=yes,width=640,height=480,directories=no,location=no'); return false;" title="Drucken">
						<img src="http://iran-infos.de/images/M_images/printButton.png"  alt="Drucken" name="Drucken" align="middle" border="0" /></a>
				</td>
							<td align="right" width="100%" class="buttonheading">
				<a href="http://iran-infos.de/index2.php?option=com_content&amp;task=emailform&amp;id=1543&amp;itemid=99999999" target="_blank" onclick="window.open('http://iran-infos.de/index2.php?option=com_content&amp;task=emailform&amp;id=1543&amp;itemid=99999999','win2','status=no,toolbar=no,scrollbars=yes,titlebar=no,menubar=no,resizable=yes,width=400,height=250,directories=no,location=no'); return false;" title="E-Mail">
					<img src="http://iran-infos.de/images/M_images/emailButton.png"  alt="E-Mail" name="E-Mail" align="middle" border="0" /></a>
			</td>
						</tr>
			</table>
			
		<table class="contentpaneopen">
					<tr>
				<td valign="top" colspan="2" class="createdate">
					23.06.2009 10:29				</td>
			</tr>
					<tr>
			<td valign="top" colspan="2">
				Großbritannien hat alle Angehörigen seiner Diplomaten aus dem Iran
abgezogen. Berlin sieht von einem solchen Schritt zunächst ab.
UN-Generalsekretär Ban Ki Moon verlangte in einer Erklärung ein Ende
der Gewalt im Iran und forderte die Regierung in Teheran auf, sofort
die Verhaftungen, Drohungen und die Anwendung von Gewalt zu stoppen.

<br clear="all"/>			</td>
		</tr>
				</table>
		
		<span class="article_seperator">&nbsp;</span>
		
					<table align="center" style="margin-top: 25px;">
			<tr>/index/
									<th class="pagenav_prev">
						<a href="http://iran-infos.de/index.php/content/view/1544/">
							&lt; zur&uuml;ck</a>
					</th>
										<td width="50">&nbsp;

					</td>/index/
										<th class="pagenav_next">
						<a href="http://iran-infos.de/index.php/content/view/1542/">
							weiter &gt;</a>
					</th>
								</tr>
			</table>
						<div class="back_button">
				<a href='javascript:history.go(-1)'>
					[&nbsp;Zur&uuml;ck&nbsp;]</a>
			</div>
			               </td>



               </tr>
              </table>

         </td>
          
          
               <td valign="top" width="140" bgcolor="#eeeeee">		<table cellpadding="0" cellspacing="0" class="moduletable">
					<tr>
				<th valign="top">
					Währungen				</th>
			</tr>
					<tr>
			<td>
				
<table class="curs" border="0" cellspacing="1" cellpadding="0" class="normal" width="100%">
<tr>
    <td colspan="3" align="center">
    <div align="center" style="padding-bottom: 2px;">ECB Exchange Rates<br>
	   Currency EUR&nbsp;<strong>
	   <img src='http://iran-infos.de/modules/images_eur/EUR.jpg' border=0>	   <br>14-07-2009</strong></div>
    </td>
</tr>
<tr><td width='15%'><img src='http://iran-infos.de/modules/images_eur/USD.jpg' border=0></td><td width='20%'>USD&nbsp;</td><td align='right'>1.3975 </td></tr><tr><td width='15%'><img src='http://iran-infos.de/modules/images_eur/GBP.jpg' border=0></td><td width='20%'>GBP&nbsp;</td><td align='right'>0.86780 </td></tr><tr><td width='15%'><img src='http://iran-infos.de/modules/images_eur/CHF.jpg' border=0></td><td width='20%'>CHF&nbsp;</td><td align='right'>1.5133 </td></tr><tr><td width='15%'><img src='http://iran-infos.de/modules/images_eur/DKK.jpg' border=0></td><td width='20%'>DKK&nbsp;</td><td align='right'>7.4451 </td></tr><tr><td width='15%'><img src='http://iran-infos.de/modules/images_eur/SEK.jpg' border=0></td><td width='20%'>SEK&nbsp;</td><td align='right'>11.0518 </td></tr></table>


			</td>
		</tr>
		</table>
				<table cellpadding="0" cellspacing="0" class="moduletable">
					<tr>
				<th valign="top">
					Wetter				</th>
			</tr>
					<tr>
			<td>
				
	<div align='center' >
		<div style='background-color : #CCCCCC; width:145px'>
			<font  face='Verdana' size='1' color='#000000' style='text-decoration: none; font-weight: bold;'>
		Hamburg
			</font>
		</div>
		<div  align='center' style='background-color : #CCCCCC; width:145px'>
		<iframe width='120px' height='100px' scrolling='no' frameborder='0' src='http://www.meteo24.de/hptool/v1?cid=49X1351&amp;l=de&amp;style=11'>
		</iframe>
		</div>
		<div align='center' style=' background-color : #CCCCCC; width:145px'>
			<a href='http://www.meteo24.de/' style='text-decoration:none; font-family:Verdana, Arial, Helvetica, sans-serif; color:#000000; font-size:9px;' target='_blank'>
				&copy; meteo24.de
			</a>
					</div>
	</div>			</td>
		</tr>
		</table>
		</td>

                   </tr>
        </table>

    </td></tr>



    <tr><td align="right"  class="footer">(c) by <a href="http://iran-infos.de" target="_blank">Iran-Infos.de</a>&nbsp;&nbsp;


    </td></tr>
    </table>

   </td>
  <td valign="top" width="200" nowrap><center>
   
   <table border="0" valign="top" width="130" align="center"><tr><td height="100" valign="top">&nbsp;</td></tr>
   
<tr><td class="werbung"><center>Werbung</center></td></tr>/index/
<tr><td class="werbung"><center><img src="http://iran-infos.de/images/nowariran.gif" border="0" alt="Sag NEIN zum KRIEG"></center></td></tr>
<!--<tr><td class="werbung"><center><a href=http://iran-infos.de/index.php/component/option,com_wrapper/Itemid,83/><img src="http://iran-infos.de/images/amazon.gif" border="0"></a></center></td></tr>
-->


       </table>
   </center>
 </td>
</tr>
 </table>
</body>
</html><!-- 1247533563 -->