<?xml version="1.0" encoding="iso-8859-1"?><!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
        <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    <title>Iran-Infos.de -- Erstes deutsch- und persischsprachige Iran Portal - Kalender</title>
<meta name="description" content="Iran-Infos.de, Iran Nachrichten und Informationsportal" />
<meta name="keywords" content="Iran,Persien,Persia,Teheran,Tehran" />
<meta name="robots" content="index, follow" />
<base href="http://iran-infos.de/" />
    <link rel="shortcut icon" href="http://iran-infos.de/images/favicon.gif" />
    <link rel="stylesheet" href="http://iran-infos.de/templates/deutsch/css/template_css.css" type="text/css"/><script type="text/javascript" src="cookies.js"></script>
<script type="text/javascript" src="efa_fontsize.js"></script>

<script type="text/javascript" src="http://iran-infos.de/templates/deutsch/md_stylechanger.js"></script>

</head>

<body leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">

<script type="text/javascript">if (efa_fontSize) efa_fontSize.efaInit();</script>

<table width="1000" border="0" cellspacing="0" cellpadding="0">
 <tr><td width="800" valign="top">

  <table width="800" border="0" cellspacing="0" cellpadding="0">
   <tr><td>
     <object type="application/x-shockwave-flash"
     data="http://iran-infos.de/templates/deutsch/images/sitename.swf" id="Iran-Infos.de" width="800" height="100">
     <param name="movie" value="http://iran-infos.de/templates/deutsch/images/sitename.swf">
     <param name="bgcolor" value ="#FFFFFF">
     <param name="quality" value ="high">
     <param name="loop" value="false">
     <param name="menu" value="false">
     <param name="swliveconnect" value="true">
     <!-
     HTML-Code für Hinweis, wenn erforderliches Plugin nicht installiert ist.
     -->
     </object>
   </td></tr>
   <tr><td bgcolor="#989898">

        <table width="800">
           <td width="40"></td>
           <td width="620">
           <a href="http://iran-infos.de/"><img src="http://iran-infos.de/templates/deutsch/images/germany1.gif" alt="Deutsch" border="0"></a>&nbsp;&nbsp;
           <a href="http://iran-infos.com/"><img src="http://iran-infos.de/templates/deutsch/images/iran1.jpg" alt="Farsi" border="0"></a>
           </td>
<td>
<a href="index.php" title="Increase size" onclick="changeFontSize(1);return false;">
<img src="templates/deutsch/images/jos_css_larger.png" border="0" alt="Text Size larger" /></a>
<a href="index.php" title="Decrease size" onclick="changeFontSize(-1);return false;">
<img src="templates/deutsch/images/jos_css_smaller.png" border="0" alt="Text Size smaller" /></a>
<a href="index.php" title="Revert styles to default" onclick="revertStyles(); return false;">
<img src="templates/deutsch/images/jos_css_reset.png" border="0" alt="Reset Text Size" /></a>
</td>

                    </table>

   </td></tr>
   <tr><td width="800">

        <table width="800" border="0" cellspacing="0" cellpadding="0" class="tab2">
         <tr>
          <td width="155" valign="top" bgcolor="#989898">		<table cellpadding="0" cellspacing="0" class="moduletable">
					<tr>
				<th valign="top">
					Main Menü				</th>
			</tr>
					<tr>
			<td>
				
<table width="100%" border="0" cellpadding="0" cellspacing="0">
<tr align="left"><td><a href="http://iran-infos.de/index.php/component/option,com_wrapper/Itemid,112/" class="mainlevel" >Nachrichten</a></td></tr>
<tr align="left"><td><a href="http://iran-infos.de/index.php/content/view/39/60/" class="mainlevel" >Iran-Infos</a></td></tr>
<tr align="left"><td><a href="http://iran-infos.de/index.php/content/view/46/72/" class="mainlevel" >Services</a>

<div style="padding-left: 4px"><img src="http://iran-infos.de/templates/deutsch/images/indent1.png" alt="" /><a href="http://iran-infos.de/index.php/component/option,com_zoom/Itemid,74/" class="sublevel" >Galerie</a></div>
<div style="padding-left: 4px"><img src="http://iran-infos.de/templates/deutsch/images/indent1.png" alt="" /><a href="http://iran-infos.de/index.php/component/option,com_bookmarks/Itemid,80/" class="sublevel" >Weblinks</a></div>
<div style="padding-left: 4px"><img src="http://iran-infos.de/templates/deutsch/images/indent1.png" alt="" /><a href="http://iran-infos.de/index.php/component/option,com_extcalendar/Itemid,75/" class="sublevel" >Terminkalender</a></div>
<div style="padding-left: 4px"><img src="http://iran-infos.de/templates/deutsch/images/indent1.png" alt="" /><a href="http://iran-infos.de/index.php/component/option,com_search/Itemid,73/" class="sublevel" >Suche</a></div>
<div style="padding-left: 4px"><img src="http://iran-infos.de/templates/deutsch/images/indent1.png" alt="" /><a href="http://iran-infos.de/index.php/component/option,com_login/Itemid,78/" class="sublevel" >Login</a></div>
<div style="padding-left: 4px"><img src="http://iran-infos.de/templates/deutsch/images/indent1.png" alt="" /><a href="http://iran-infos.de/index.php/component/option,com_wrapper/Itemid,82/" class="sublevel" >TV</a></div>
<div style="padding-left: 4px"><img src="http://iran-infos.de/templates/deutsch/images/indent1.png" alt="" /><a href="http://iran-infos.de/index.php/content/view/62/100/" class="sublevel" >Musik MP3</a></div>
<div style="padding-left: 4px"><img src="http://iran-infos.de/templates/deutsch/images/indent1.png" alt="" /><a href="http://iran-infos.de/index.php/content/view/16/104/" class="sublevel" >Datumsumrechner</a></div>
<div style="padding-left: 4px"><img src="http://iran-infos.de/templates/deutsch/images/indent1.png" alt="" /><a href="http://iran-infos.de/index.php/component/option,com_wrapper/Itemid,109/" class="sublevel" id="active_menu">Kalender</a></div>
<div style="padding-left: 4px"><img src="http://iran-infos.de/templates/deutsch/images/indent1.png" alt="" /><a href="http://iran-infos.de/index.php/content/view/869/110/" class="sublevel" >Filme</a></div>
</td></tr>
<tr align="left"><td><a href="http://iran-infos.de/index.php/content/view/45/68/" class="mainlevel" >About us</a></td></tr>
<tr align="left"><td><a href="http://iran-infos.com" class="mainlevel" >&#1601;&#1575;&#1585;&#1587;&#1740;</a></td></tr>
</table>			</td>
		</tr>
		</table>
				<table cellpadding="0" cellspacing="0" class="moduletable">
				<tr>
			<td>
							</td>
		</tr>
		</table>
		          </td>
          <td valign="top">







            
               
             <table width="100%" border="0" cellspacing="0" cellpadding="0">
               <tr>


             <td align="left" valign="top" width="100%" class="tdmainbody">
               
                         		<script language="javascript" type="text/javascript">
		function iFrameHeight() {
			var h = 0;
			if ( !document.all ) {
				h = document.getElementById('blockrandom').contentDocument.height;
				document.getElementById('blockrandom').style.height = h + 60 + 'px';
			} else if( document.all ) {
				h = document.frames('blockrandom').document.body.scrollHeight;
				document.all.blockrandom.style.height = h + 20 + 'px';
			}
		}
		</script>
		<div class="contentpane">

				<iframe
				id="blockrandom"
		name="iframe"
		src="http://www.taghvim.org/index.html"
		width="100%"
		height="510"
		scrolling="no"
		align="top"
		frameborder="0"
		class="wrapper">
		Diese Option wird nicht korrekt funktionieren. Leider unterst&uuml;tzt Ihr Browser keine Inline Frames		</iframe>

		</div>
					<div class="back_button">
				<a href='javascript:history.go(-1)'>
					[&nbsp;Zur&uuml;ck&nbsp;]</a>
			</div>
			               </td>



               </tr>
              </table>

         </td>
          
          
               <td valign="top" width="140" bgcolor="#eeeeee">		<table cellpadding="0" cellspacing="0" class="moduletable">
					<tr>
				<th valign="top">
					Währungen				</th>
			</tr>
					<tr>
			<td>
				
<table class="curs" border="0" cellspacing="1" cellpadding="0" class="normal" width="100%">
<tr>
    <td colspan="3" align="center">
    <div align="center" style="padding-bottom: 2px;">ECB Exchange Rates<br>
	   Currency EUR&nbsp;<strong>
	   <img src='http://iran-infos.de/modules/images_eur/EUR.jpg' border=0>	   <br>30-04-2009</strong></div>
    </td>
</tr>
<tr><td width='15%'><img src='http://iran-infos.de/modules/images_eur/USD.jpg' border=0></td><td width='20%'>USD&nbsp;</td><td align='right'>1.3266 </td></tr><tr><td width='15%'><img src='http://iran-infos.de/modules/images_eur/GBP.jpg' border=0></td><td width='20%'>GBP&nbsp;</td><td align='right'>0.89875 </td></tr><tr><td width='15%'><img src='http://iran-infos.de/modules/images_eur/CHF.jpg' border=0></td><td width='20%'>CHF&nbsp;</td><td align='right'>1.5064 </td></tr><tr><td width='15%'><img src='http://iran-infos.de/modules/images_eur/DKK.jpg' border=0></td><td width='20%'>DKK&nbsp;</td><td align='right'>7.4483 </td></tr><tr><td width='15%'><img src='http://iran-infos.de/modules/images_eur/SEK.jpg' border=0></td><td width='20%'>SEK&nbsp;</td><td align='right'>10.7597 </td></tr></table>


			</td>
		</tr>
		</table>
				<table cellpadding="0" cellspacing="0" class="moduletable">
					<tr>
				<th valign="top">
					Wetter				</th>
			</tr>
					<tr>
			<td>
				
	<div align='center' >
		<div style='background-color : #CCCCCC; width:145px'>
			<font  face='Verdana' size='1' color='#000000' style='text-decoration: none; font-weight: bold;'>
		Hamburg
			</font>
		</div>
		<div  align='center' style='background-color : #CCCCCC; width:145px'>
		<iframe width='120px' height='100px' scrolling='no' frameborder='0' src='http://www.meteo24.de/hptool/v1?cid=49X1351&amp;l=de&amp;style=11'>
		</iframe>
		</div>
		<div align='center' style=' background-color : #CCCCCC; width:145px'>
			<a href='http://www.meteo24.de/' style='text-decoration:none; font-family:Verdana, Arial, Helvetica, sans-serif; color:#000000; font-size:9px;' target='_blank'>
				&copy; meteo24.de
			</a>
					</div>
	</div>			</td>
		</tr>
		</table>
		</td>

                   </tr>
        </table>

    </td></tr>

    <tr><td align="right"  class="footer">(c) by <a href="http://iran-infos.de" target="_blank">Iran-Infos.de</a>&nbsp;&nbsp;

    </td></tr>
    </table>

   </td>
  <td valign="top" width="200" nowrap><center>
   
   <table border="0" valign="top" width="130" align="center"><tr><td height="100" valign="top">&nbsp;</td></tr>
   
<tr><td class="werbung"><center>Werbung</center></td></tr>
<tr><td class="werbung"><center><img src="http://iran-infos.de/images/nowariran.gif" border="0" alt="Sag NEIN zum KRIEG"></center></td></tr>
<!--<tr><td class="werbung"><center><a href=http://iran-infos.de/index.php/component/option,com_wrapper/Itemid,83/><img src="http://iran-infos.de/images/amazon.gif" border="0"></a></center></td></tr>
-->


       </table>
   </center>
 </td>
</tr>
 </table>
</body>
</html><!-- 1241055727 -->