<?xml version="1.0" encoding="iso-8859-1"?><!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
        <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    <title>Iran-Infos.de -- Erstes deutsch- und persischsprachige Iran Portal - Passwort vergessen?</title>
<meta name="description" content="Iran-Infos.de, Iran Nachrichten und Informationsportal" />
<meta name="keywords" content="Iran,Persien,Persia,Teheran,Tehran" />
<meta name="robots" content="index, follow" />
<base href="http://iran-infos.de/" />
    <link rel="shortcut icon" href="http://iran-infos.de/images/favicon.gif" />
    <link rel="stylesheet" href="http://iran-infos.de/templates/deutsch/css/template_css.css" type="text/css"/><script type="text/javascript" src="cookies.js"></script>
<script type="text/javascript" src="efa_fontsize.js"></script>

<script type="text/javascript" src="http://iran-infos.de/templates/deutsch/md_stylechanger.js"></script>

</head>

<body leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">

<script type="text/javascript">if (efa_fontSize) efa_fontSize.efaInit();</script>

<table width="1000" border="0" cellspacing="0" cellpadding="0">
 <tr><td width="800" valign="top">

  <table width="800" border="0" cellspacing="0" cellpadding="0">
   <tr><td>
     <object type="application/x-shockwave-flash"
     data="http://iran-infos.de/templates/deutsch/images/sitename.swf" id="Iran-Infos.de" width="800" height="100">
     <param name="movie" value="http://iran-infos.de/templates/deutsch/images/sitename.swf">
     <param name="bgcolor" value ="#FFFFFF">
     <param name="quality" value ="high">
     <param name="loop" value="false">
     <param name="menu" value="false">
     <param name="swliveconnect" value="true">
     <!-
     HTML-Code für Hinweis, wenn erforderliches Plugin nicht installiert ist.
     -->
     </object>
   </td></tr>
   <tr><td bgcolor="#989898">

        <table width="800">
           <td width="40"></td>
           <td width="620">
           <a href="http://iran-infos.de/"><img src="http://iran-infos.de/templates/deutsch/images/germany1.gif" alt="Deutsch" border="0"></a>&nbsp;&nbsp;
           <a href="http://iran-infos.com/"><img src="http://iran-infos.de/templates/deutsch/images/iran1.jpg" alt="Farsi" border="0"></a>
           </td>
<td>
<a href="index.php" title="Increase size" onclick="changeFontSize(1);return false;">
<img src="templates/deutsch/images/jos_css_larger.png" border="0" alt="Text Size larger" /></a>
<a href="index.php" title="Decrease size" onclick="changeFontSize(-1);return false;">
<img src="templates/deutsch/images/jos_css_smaller.png" border="0" alt="Text Size smaller" /></a>
<a href="index.php" title="Revert styles to default" onclick="revertStyles(); return false;">
<img src="templates/deutsch/images/jos_css_reset.png" border="0" alt="Reset Text Size" /></a>
</td>

                    </table>

   </td></tr>
   <tr><td width="800">

        <table width="800" border="0" cellspacing="0" cellpadding="0" class="tab2">
         <tr>
          <td width="155" valign="top" bgcolor="#989898">		<table cellpadding="0" cellspacing="0" class="moduletable">
					<tr>
				<th valign="top">
					Main Menü				</th>
			</tr>
					<tr>
			<td>
				
<table width="100%" border="0" cellpadding="0" cellspacing="0">
<tr align="left"><td><a href="http://iran-infos.de/index.php/component/option,com_wrapper/Itemid,112/" class="mainlevel" >Nachrichten</a></td></tr>
<tr align="left"><td><a href="http://iran-infos.de/index.php/content/view/39/60/" class="mainlevel" >Iran-Infos</a></td></tr>
<tr align="left"><td><a href="http://iran-infos.de/index.php/content/view/46/72/" class="mainlevel" >Services</a></td></tr>
<tr align="left"><td><a href="http://iran-infos.de/index.php/content/view/45/68/" class="mainlevel" >About us</a></td></tr>
<tr align="left"><td><a href="http://iran-infos.com" class="mainlevel" >&#1601;&#1575;&#1585;&#1587;&#1740;</a></td></tr>
</table>			</td>
		</tr>
		</table>
				<table cellpadding="0" cellspacing="0" class="moduletable">
				<tr>
			<td>
							</td>
		</tr>
		</table>
		          </td>
          <td valign="top">







            
               
             <table width="100%" border="0" cellspacing="0" cellpadding="0">
               <tr>


             <td align="left" valign="top" width="100%" class="tdmainbody">
               
                         		<form action="index.php" method="post">

		<div class="componentheading">
			Passwort vergessen?		</div>

		<table cellpadding="0" cellspacing="0" border="0" width="100%" class="contentpane">
		<tr>
			<td colspan="2">
				Bitte geben Sie Ihren Benutzernamen und Ihre E-Mail Adresse ein und klicken Sie auf Passwort senden.<br />In K&uuml;rze erhalten Sie ein neues Passwort. Verwenden Sie dieses Passwort, um sich anzumelden.			</td>
		</tr>
		<tr>
			<td>
				Benutzername:			</td>
			<td>
				<input type="text" name="checkusername" class="inputbox" size="40" maxlength="25" />
			</td>
		</tr>
		<tr>
			<td>
				E-Mail Adresse:			</td>
			<td>
				<input type="text" name="confirmEmail" class="inputbox" size="40" />
			</td>
		</tr>
		<tr>
			<td colspan="2">
				<input type="submit" class="button" value="Passwort senden" />
			</td>
		</tr>
		</table>
		
		<input type="hidden" name="option" value="com_registration" />
		<input type="hidden" name="task" value="sendNewPass" /> 
		<input type="hidden" name="jf5cf8757ee2aa6353aeb7169b9718350" value="1" />
		</form>
		               </td>



               </tr>
              </table>

         </td>
          
                   </tr>
        </table>

    </td></tr>

    <tr><td align="right"  class="footer">(c) by <a href="http://iran-infos.de" target="_blank">Iran-Infos.de</a>&nbsp;&nbsp;

    </td></tr>
    </table>

   </td>
  <td valign="top" width="200" nowrap><center>
   
   <table border="0" valign="top" width="130" align="center"><tr><td height="100" valign="top">&nbsp;</td></tr>
   
<tr><td class="werbung"><center>Werbung</center></td></tr>
<tr><td class="werbung"><center><img src="http://iran-infos.de/images/nowariran.gif" border="0" alt="Sag NEIN zum KRIEG"></center></td></tr>
<!--<tr><td class="werbung"><center><a href=http://iran-infos.de/index.php/component/option,com_wrapper/Itemid,83/><img src="http://iran-infos.de/images/amazon.gif" border="0"></a></center></td></tr>
-->


       </table>
   </center>
 </td>
</tr>
 </table>
</body>
</html><!-- 1236114188 -->