<?xml version="1.0" encoding="iso-8859-1"?><!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
        <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    <title>iran-infos.de - Aufmarsch am Golf</title>
<meta name="title" content="Aufmarsch am Golf" />
<meta name="author" content="Administrator" />
<meta name="description" content="Iran-Infos.de, Iran Nachrichten und Informationsportal" />
<meta name="keywords" content="Iran,Persien,Persia,Teheran,Tehran" />
<meta name="robots" content="index, follow" />
<base href="http://iran-infos.de/" />
    <link rel="shortcut icon" href="http://iran-infos.de/images/favicon.gif" />
    <link rel="stylesheet" href="http://iran-infos.de/templates/deutsch/css/template_css.css" type="text/css"/><script type="text/javascript" src="cookies.js"></script>
<script type="text/javascript" src="efa_fontsize.js"></script>

<script type="text/javascript" src="http://iran-infos.de/templates/deutsch/md_stylechanger.js"></script>

</head>

<body leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">

<script type="text/javascript">if (efa_fontSize) efa_fontSize.efaInit();</script>

<table width="1000" border="0" cellspacing="0" cellpadding="0">
 <tr><td width="800" valign="top">

  <table width="800" border="0" cellspacing="0" cellpadding="0">
   <tr><td>
     <object type="application/x-shockwave-flash"
     data="http://iran-infos.de/templates/deutsch/images/sitename.swf" id="Iran-Infos.de" width="800" height="100">
     <param name="movie" value="http://iran-infos.de/templates/deutsch/images/sitename.swf">
     <param name="bgcolor" value ="#FFFFFF">
     <param name="quality" value ="high">
     <param name="loop" value="false">
     <param name="menu" value="false">
     <param name="swliveconnect" value="true">
     <!-
     HTML-Code für Hinweis, wenn erforderliches Plugin nicht installiert ist.
     -->
     </object>
   </td></tr>
   <tr><td bgcolor="#989898">

        <table width="800">
           <td width="40"></td>
           <td width="620">
           <a href="http://iran-infos.de/"><img src="http://iran-infos.de/templates/deutsch/images/germany1.gif" alt="Deutsch" border="0"></a>&nbsp;&nbsp;
           <a href="http://iran-infos.com/"><img src="http://iran-infos.de/templates/deutsch/images/iran1.jpg" alt="Farsi" border="0"></a>
           </td>
<td>
<a href="index.php" title="Increase size" onclick="changeFontSize(1);return false;">
<img src="templates/deutsch/images/jos_css_larger.png" border="0" alt="Text Size larger" /></a>
<a href="index.php" title="Decrease size" onclick="changeFontSize(-1);return false;">
<img src="templates/deutsch/images/jos_css_smaller.png" border="0" alt="Text Size smaller" /></a>
<a href="index.php" title="Revert styles to default" onclick="revertStyles(); return false;">
<img src="templates/deutsch/images/jos_css_reset.png" border="0" alt="Reset Text Size" /></a>
</td>

                    </table>

   </td></tr>
   <tr><td width="800">

        <table width="800" border="0" cellspacing="0" cellpadding="0" class="tab2">
         <tr>
          <td width="155" valign="top" bgcolor="#989898">		<table cellpadding="0" cellspacing="0" class="moduletable">
					<tr>
				<th valign="top">
					Main Menü				</th>
			</tr>
					<tr>
			<td>
				
<table width="100%" border="0" cellpadding="0" cellspacing="0">
<tr align="left"><td><a href="http://iran-infos.de/index.php/component/option,com_frontpage/Itemid,1/" class="mainlevel" >Nachrichten</a>

<div style="padding-left: 4px"><img src="http://iran-infos.de/templates/deutsch/images/indent1.png" alt="" /><a href="http://iran-infos.de/index.php/content/blogcategory/1/32/" class="sublevel" id="active_menu">Politik</a></div>
<div style="padding-left: 4px"><img src="http://iran-infos.de/templates/deutsch/images/indent1.png" alt="" /><a href="http://iran-infos.de/index.php/content/blogcategory/13/33/" class="sublevel" >Wirtschaft</a></div>
<div style="padding-left: 4px"><img src="http://iran-infos.de/templates/deutsch/images/indent1.png" alt="" /><a href="http://iran-infos.de/index.php/content/blogcategory/32/97/" class="sublevel" >Sport</a></div>
<div style="padding-left: 4px"><img src="http://iran-infos.de/templates/deutsch/images/indent1.png" alt="" /><a href="http://iran-infos.de/index.php/content/blogcategory/33/98/" class="sublevel" >Kultur&amp;Gesellschaft</a></div>
<div style="padding-left: 4px"><img src="http://iran-infos.de/templates/deutsch/images/indent1.png" alt="" /><a href="http://iran-infos.de/index.php/content/archivesection/1/34/" class="sublevel" >Archive</a></div>
<div style="padding-left: 4px"><img src="http://iran-infos.de/templates/deutsch/images/indent1.png" alt="" /><a href="http://iran-infos.de/index.php/content/view/63/103/" class="sublevel" ><img src=http://iran-infos.de/images/stories/rss.png border=0></a></div>
</td></tr>
<tr align="left"><td><a href="http://iran-infos.de/index.php/content/view/39/60/" class="mainlevel" >Iran-Infos</a></td></tr>
<tr align="left"><td><a href="http://iran-infos.de/index.php/content/view/46/72/" class="mainlevel" >Services</a></td></tr>
<tr align="left"><td><a href="http://iran-infos.de/index.php/content/view/45/68/" class="mainlevel" >About us</a></td></tr>
<tr align="left"><td><a href="http://iran-infos.com" class="mainlevel" >&#1601;&#1575;&#1585;&#1587;&#1740;</a></td></tr>
</table>			</td>
		</tr>
		</table>
				<table cellpadding="0" cellspacing="0" class="moduletable">
				<tr>
			<td>
							</td>
		</tr>
		</table>
		          </td>
          <td valign="top">







            
               
             <table width="100%" border="0" cellspacing="0" cellpadding="0">
               <tr>


             <td align="left" valign="top" width="100%" class="tdmainbody">
               
                         			<table class="contentpaneopen">
			<tr>
								<td class="contentheading" width="100%">
					Aufmarsch am Golf									</td>
								<td align="right" width="100%" class="buttonheading">
					<a href="http://iran-infos.de/index2.php?option=com_content&amp;task=view&amp;id=623&amp;pop=1&amp;page=0&amp;Itemid=32" target="_blank" onclick="window.open('http://iran-infos.de/index2.php?option=com_content&amp;task=view&amp;id=623&amp;pop=1&amp;page=0&amp;Itemid=32','win2','status=no,toolbar=no,scrollbars=yes,titlebar=no,menubar=no,resizable=yes,width=640,height=480,directories=no,location=no'); return false;" title="Drucken">
						<img src="http://iran-infos.de/images/M_images/printButton.png"  alt="Drucken" name="Drucken" align="middle" border="0" /></a>
				</td>
							<td align="right" width="100%" class="buttonheading">
				<a href="http://iran-infos.de/index2.php?option=com_content&amp;task=emailform&amp;id=623&amp;itemid=32" target="_blank" onclick="window.open('http://iran-infos.de/index2.php?option=com_content&amp;task=emailform&amp;id=623&amp;itemid=32','win2','status=no,toolbar=no,scrollbars=yes,titlebar=no,menubar=no,resizable=yes,width=400,height=250,directories=no,location=no'); return false;" title="E-Mail">
					<img src="http://iran-infos.de/images/M_images/emailButton.png"  alt="E-Mail" name="E-Mail" align="middle" border="0" /></a>
			</td>
						</tr>
			</table>
			
		<table class="contentpaneopen">
					<tr>
				<td valign="top" colspan="2" class="createdate">
					03.02.2007 00:48				</td>
			</tr>
					<tr>
			<td valign="top" colspan="2">
				Junge Welt - 50000 weitere US-Soldaten für Irak-Krieg geplant. Washington verlegt Flottenverbände gen Iran.&nbsp;&nbsp; <A class=readon href="http://www.jungewelt.de/2007/02-03/018.php" target=_blank><STRONG>weiter...</STRONG></A><br clear="all"/>			</td>
		</tr>
				</table>
		
		<span class="article_seperator">&nbsp;</span>
		
					<table align="center" style="margin-top: 25px;">
			<tr>
									<th class="pagenav_prev">
						<a href="http://iran-infos.de/index.php/content/view/624/32/">
							&lt; zur&uuml;ck</a>
					</th>
										<td width="50">&nbsp;

					</td>
										<th class="pagenav_next">
						<a href="http://iran-infos.de/index.php/content/view/622/32/">
							weiter &gt;</a>
					</th>
								</tr>
			</table>
						<div class="back_button">
				<a href='javascript:history.go(-1)'>
					[&nbsp;Zur&uuml;ck&nbsp;]</a>
			</div>
			               </td>



               </tr>
              </table>

         </td>
          
          
               <td valign="top" width="140" bgcolor="#eeeeee">		<table cellpadding="0" cellspacing="0" class="moduletable">
					<tr>
				<th valign="top">
					Wörterbuch				</th>
			</tr>
					<tr>
			<td>
				
<SCRIPT src="http://www.loghatnameh.de/scripts/allScripts.js" type=text/javascript mce_src="http://www.loghatnameh.de/scripts/allScripts.js"></SCRIPT>

<FORM name=searchWord accept-charset=utf-8 action=http://www.loghatnameh.de/searchWord.do;jsessionid=B7CC2443004D48A054DB0A538FB2842B method=post target=_blank>
<TABLE class="" width=100 align=center>
<TBODY>
<TR>
<TD class="">
<CENTER>Wort eingeben:</CENTER></TD></TR>
<TR>
<TD class=""><INPUT onkeypress="replaceInput(this, event)" onfocus=markMe(this.form.word) maxLength=30 size=17 name=word> </TD></TR>
<TR dir=ltr>
<TD class=""><INPUT onclick="changeLanguage('D')" type=radio CHECKED value=DE name=language> Deutsch </TD></TR>
<TR>
<TD class=""><INPUT onclick="changeLanguage('F')" type=radio value=FA name=language> Persisch</TD></TR>
<TR>
<TD class=""><INPUT type=submit value=Suchen> </TD></TR></TBODY></TABLE></FORM><br clear="all"/>			</td>
		</tr>
		</table>
				<table cellpadding="0" cellspacing="0" class="moduletable">
					<tr>
				<th valign="top">
					Terminkalender				</th>
			</tr>
					<tr>
			<td>
				

<div id="extcal_minical">
	<table align="center" border="0" cellspacing="1" cellpadding="0" style="background-color: #FFFFFF; border: 1px solid #BEC2C3; width: 135">
		<tr>
			<td>

			<table border="0" cellspacing="0" cellpadding="2" width="100%" class="extcal_navbar">
				<tr>
<!-- BEGIN with_navigation_row -->
<!-- BEGIN no_previous_month_link_row -->
					<td align="center" height="18" valign="middle"><img src="http://iran-infos.de/components/com_extcalendar/themes/gtek/images/mini_arrowleft_inactive.gif" border="0" alt="" title=""></td>
<!-- END no_previous_month_link_row -->

					<td align="center" height="18" valign="middle" width="98%" class='extcal_month_label' nowrap>Februar 2007</td>
					<td align="center" height="18" valign="middle"
						onMouseOver="extcal_showOnBar('März 2007');return true;" 
						onMouseOut="extcal_showOnBar('');return true;">
					  <a href="?option=com_content&task=view&id=623&Itemid=32&date=2007-03-01"><img src="http://iran-infos.de/components/com_extcalendar/themes/gtek/images/mini_arrowright.gif" border="0" alt="März 2007" title="März 2007"></a></td>
<!-- END with_navigation_row -->

				</tr>
			</table>

	<table align="center" border="0" cellspacing="0" cellpadding="0" width="135"  class="extcal_weekdays">
		<tr>
<!-- BEGIN weeknumber_header_row -->
			<td></td>
<!-- END weeknumber_header_row -->

			<td height='24' class="extcal_weekdays" valign="top" align="center">
				Mo
			</td>

			<td height='24' class="extcal_weekdays" valign="top" align="center">
				Di
			</td>

			<td height='24' class="extcal_weekdays" valign="top" align="center">
				Mi
			</td>

			<td height='24' class="extcal_weekdays" valign="top" align="center">
				Do
			</td>

			<td height='24' class="extcal_weekdays" valign="top" align="center">
				Fr
			</td>

			<td height='24' class="extcal_weekdays" valign="top" align="center">
				Sa
			</td>

			<td height='24' class="extcal_weekdays" valign="top" align="center">
				So
			</td>

		</tr>

		<tr>

		<td class='extcal_weekcell' align='center'
				onMouseOver="extcal_showOnBar('Week 6');return true;" 
				onMouseOut="extcal_showOnBar('');return true;">
			<a href="http://iran-infos.de/index.php?option=com_extcalendar&extmode=week&date=2007-02-04" target=""><img src="http://iran-infos.de/components/com_extcalendar/themes/gtek/images/icon-mini-week.gif" width="5" height="20" border="0" alt="Week 6"></a></td>

		<td height='15' class='extcal_othermonth' align='center' valign='middle'></td>

		<td height='15' class='extcal_othermonth' align='center' valign='middle'></td>

		<td height='15' class='extcal_othermonth' align='center' valign='middle'></td>

		<td height='15' class='extcal_daycell' align='center' valign='top' onMouseOver="extcal_showOnBar('01-Feb-2007');return true;" onMouseOut="extcal_showOnBar('');return true;">
<!-- BEGIN linkable_row -->
			<a href="http://iran-infos.de/index.php?option=com_extcalendar&extmode=day&date=2007-02-01" title="0 Veranstaltung(en)" class="extcal_daylink" target="">1</a>
<!-- END linkable_row -->

		</td>

		<td height='15' class='extcal_daycell' align='center' valign='top' onMouseOver="extcal_showOnBar('02-Feb-2007');return true;" onMouseOut="extcal_showOnBar('');return true;">
<!-- BEGIN linkable_row -->
			<a href="http://iran-infos.de/index.php?option=com_extcalendar&extmode=day&date=2007-02-02" title="0 Veranstaltung(en)" class="extcal_daylink" target="">2</a>
<!-- END linkable_row -->

		</td>

		<td height='15' class='extcal_daycell' align='center' valign='top' onMouseOver="extcal_showOnBar('03-Feb-2007');return true;" onMouseOut="extcal_showOnBar('');return true;">
<!-- BEGIN linkable_row -->
			<a href="http://iran-infos.de/index.php?option=com_extcalendar&extmode=day&date=2007-02-03" title="0 Veranstaltung(en)" class="extcal_daylink" target="">3</a>
<!-- END linkable_row -->

		</td>

		<td height='15' class='extcal_sundaycell' align='center' valign='top' onMouseOver="extcal_showOnBar('04-Feb-2007');return true;" onMouseOut="extcal_showOnBar('');return true;">
<!-- BEGIN linkable_row -->
			<a href="http://iran-infos.de/index.php?option=com_extcalendar&extmode=day&date=2007-02-04" title="0 Veranstaltung(en)" class="extcal_sundaylink" target="">4</a>
<!-- END linkable_row -->

		</td>

		</tr>

		<tr>

		<td class='extcal_weekcell' align='center'
				onMouseOver="extcal_showOnBar('Week 7');return true;" 
				onMouseOut="extcal_showOnBar('');return true;">
			<a href="http://iran-infos.de/index.php?option=com_extcalendar&extmode=week&date=2007-02-11" target=""><img src="http://iran-infos.de/components/com_extcalendar/themes/gtek/images/icon-mini-week.gif" width="5" height="20" border="0" alt="Week 7"></a></td>

		<td height='15' class='extcal_daycell' align='center' valign='top' onMouseOver="extcal_showOnBar('05-Feb-2007');return true;" onMouseOut="extcal_showOnBar('');return true;">
<!-- BEGIN linkable_row -->
			<a href="http://iran-infos.de/index.php?option=com_extcalendar&extmode=day&date=2007-02-05" title="1 Veranstaltung(en)" class="extcal_busylink" target="">5</a>
<!-- END linkable_row -->

		</td>

		<td height='15' class='extcal_daycell' align='center' valign='top' onMouseOver="extcal_showOnBar('06-Feb-2007');return true;" onMouseOut="extcal_showOnBar('');return true;">
<!-- BEGIN linkable_row -->
			<a href="http://iran-infos.de/index.php?option=com_extcalendar&extmode=day&date=2007-02-06" title="1 Veranstaltung(en)" class="extcal_busylink" target="">6</a>
<!-- END linkable_row -->

		</td>

		<td height='15' class='extcal_daycell' align='center' valign='top' onMouseOver="extcal_showOnBar('07-Feb-2007');return true;" onMouseOut="extcal_showOnBar('');return true;">
<!-- BEGIN linkable_row -->
			<a href="http://iran-infos.de/index.php?option=com_extcalendar&extmode=day&date=2007-02-07" title="0 Veranstaltung(en)" class="extcal_daylink" target="">7</a>
<!-- END linkable_row -->

		</td>

		<td height='15' class='extcal_daycell' align='center' valign='top' onMouseOver="extcal_showOnBar('08-Feb-2007');return true;" onMouseOut="extcal_showOnBar('');return true;">
<!-- BEGIN linkable_row -->
			<a href="http://iran-infos.de/index.php?option=com_extcalendar&extmode=day&date=2007-02-08" title="0 Veranstaltung(en)" class="extcal_daylink" target="">8</a>
<!-- END linkable_row -->

		</td>

		<td height='15' class='extcal_daycell' align='center' valign='top' onMouseOver="extcal_showOnBar('09-Feb-2007');return true;" onMouseOut="extcal_showOnBar('');return true;">
<!-- BEGIN linkable_row -->
			<a href="http://iran-infos.de/index.php?option=com_extcalendar&extmode=day&date=2007-02-09" title="0 Veranstaltung(en)" class="extcal_daylink" target="">9</a>
<!-- END linkable_row -->

		</td>

		<td height='15' class='extcal_daycell' align='center' valign='top' onMouseOver="extcal_showOnBar('10-Feb-2007');return true;" onMouseOut="extcal_showOnBar('');return true;">
<!-- BEGIN linkable_row -->
			<a href="http://iran-infos.de/index.php?option=com_extcalendar&extmode=day&date=2007-02-10" title="0 Veranstaltung(en)" class="extcal_daylink" target="">10</a>
<!-- END linkable_row -->

		</td>

		<td height='15' class='extcal_sundaycell' align='center' valign='top' onMouseOver="extcal_showOnBar('11-Feb-2007');return true;" onMouseOut="extcal_showOnBar('');return true;">
<!-- BEGIN linkable_row -->
			<a href="http://iran-infos.de/index.php?option=com_extcalendar&extmode=day&date=2007-02-11" title="0 Veranstaltung(en)" class="extcal_sundaylink" target="">11</a>
<!-- END linkable_row -->

		</td>

		</tr>

		<tr>

		<td class='extcal_weekcell' align='center'
				onMouseOver="extcal_showOnBar('Week 8');return true;" 
				onMouseOut="extcal_showOnBar('');return true;">
			<a href="http://iran-infos.de/index.php?option=com_extcalendar&extmode=week&date=2007-02-18" target=""><img src="http://iran-infos.de/components/com_extcalendar/themes/gtek/images/icon-mini-week.gif" width="5" height="20" border="0" alt="Week 8"></a></td>

		<td height='15' class='extcal_daycell' align='center' valign='top' onMouseOver="extcal_showOnBar('12-Feb-2007');return true;" onMouseOut="extcal_showOnBar('');return true;">
<!-- BEGIN linkable_row -->
			<a href="http://iran-infos.de/index.php?option=com_extcalendar&extmode=day&date=2007-02-12" title="0 Veranstaltung(en)" class="extcal_daylink" target="">12</a>
<!-- END linkable_row -->

		</td>

		<td height='15' class='extcal_daycell' align='center' valign='top' onMouseOver="extcal_showOnBar('13-Feb-2007');return true;" onMouseOut="extcal_showOnBar('');return true;">
<!-- BEGIN linkable_row -->
			<a href="http://iran-infos.de/index.php?option=com_extcalendar&extmode=day&date=2007-02-13" title="0 Veranstaltung(en)" class="extcal_daylink" target="">13</a>
<!-- END linkable_row -->

		</td>

		<td height='15' class='extcal_daycell' align='center' valign='top' onMouseOver="extcal_showOnBar('14-Feb-2007');return true;" onMouseOut="extcal_showOnBar('');return true;">
<!-- BEGIN linkable_row -->
			<a href="http://iran-infos.de/index.php?option=com_extcalendar&extmode=day&date=2007-02-14" title="0 Veranstaltung(en)" class="extcal_daylink" target="">14</a>
<!-- END linkable_row -->

		</td>

		<td height='15' class='extcal_daycell' align='center' valign='top' onMouseOver="extcal_showOnBar('15-Feb-2007');return true;" onMouseOut="extcal_showOnBar('');return true;">
<!-- BEGIN linkable_row -->
			<a href="http://iran-infos.de/index.php?option=com_extcalendar&extmode=day&date=2007-02-15" title="0 Veranstaltung(en)" class="extcal_daylink" target="">15</a>
<!-- END linkable_row -->

		</td>

		<td height='15' class='extcal_daycell' align='center' valign='top' onMouseOver="extcal_showOnBar('16-Feb-2007');return true;" onMouseOut="extcal_showOnBar('');return true;">
<!-- BEGIN linkable_row -->
			<a href="http://iran-infos.de/index.php?option=com_extcalendar&extmode=day&date=2007-02-16" title="0 Veranstaltung(en)" class="extcal_daylink" target="">16</a>
<!-- END linkable_row -->

		</td>

		<td height='15' class='extcal_daycell' align='center' valign='top' onMouseOver="extcal_showOnBar('17-Feb-2007');return true;" onMouseOut="extcal_showOnBar('');return true;">
<!-- BEGIN linkable_row -->
			<a href="http://iran-infos.de/index.php?option=com_extcalendar&extmode=day&date=2007-02-17" title="0 Veranstaltung(en)" class="extcal_daylink" target="">17</a>
<!-- END linkable_row -->

		</td>

		<td height='15' class='extcal_todaycell' align='center' valign='top' onMouseOver="extcal_showOnBar('18-Feb-2007');return true;" onMouseOut="extcal_showOnBar('');return true;">
<!-- BEGIN linkable_row -->
			<a href="http://iran-infos.de/index.php?option=com_extcalendar&extmode=day&date=2007-02-18" title="0 Veranstaltung(en)" class="extcal_daylink" target="">18</a>
<!-- END linkable_row -->

		</td>

		</tr>

		<tr>

		<td class='extcal_weekcell' align='center'
				onMouseOver="extcal_showOnBar('Week 9');return true;" 
				onMouseOut="extcal_showOnBar('');return true;">
			<a href="http://iran-infos.de/index.php?option=com_extcalendar&extmode=week&date=2007-02-25" target=""><img src="http://iran-infos.de/components/com_extcalendar/themes/gtek/images/icon-mini-week.gif" width="5" height="20" border="0" alt="Week 9"></a></td>

		<td height='15' class='extcal_daycell' align='center' valign='top' onMouseOver="extcal_showOnBar('19-Feb-2007');return true;" onMouseOut="extcal_showOnBar('');return true;">
<!-- BEGIN linkable_row -->
			<a href="http://iran-infos.de/index.php?option=com_extcalendar&extmode=day&date=2007-02-19" title="0 Veranstaltung(en)" class="extcal_daylink" target="">19</a>
<!-- END linkable_row -->

		</td>

		<td height='15' class='extcal_daycell' align='center' valign='top' onMouseOver="extcal_showOnBar('20-Feb-2007');return true;" onMouseOut="extcal_showOnBar('');return true;">
<!-- BEGIN linkable_row -->
			<a href="http://iran-infos.de/index.php?option=com_extcalendar&extmode=day&date=2007-02-20" title="1 Veranstaltung(en)" class="extcal_busylink" target="">20</a>
<!-- END linkable_row -->

		</td>

		<td height='15' class='extcal_daycell' align='center' valign='top' onMouseOver="extcal_showOnBar('21-Feb-2007');return true;" onMouseOut="extcal_showOnBar('');return true;">
<!-- BEGIN linkable_row -->
			<a href="http://iran-infos.de/index.php?option=com_extcalendar&extmode=day&date=2007-02-21" title="0 Veranstaltung(en)" class="extcal_daylink" target="">21</a>
<!-- END linkable_row -->

		</td>

		<td height='15' class='extcal_daycell' align='center' valign='top' onMouseOver="extcal_showOnBar('22-Feb-2007');return true;" onMouseOut="extcal_showOnBar('');return true;">
<!-- BEGIN linkable_row -->
			<a href="http://iran-infos.de/index.php?option=com_extcalendar&extmode=day&date=2007-02-22" title="1 Veranstaltung(en)" class="extcal_busylink" target="">22</a>
<!-- END linkable_row -->

		</td>

		<td height='15' class='extcal_daycell' align='center' valign='top' onMouseOver="extcal_showOnBar('23-Feb-2007');return true;" onMouseOut="extcal_showOnBar('');return true;">
<!-- BEGIN linkable_row -->
			<a href="http://iran-infos.de/index.php?option=com_extcalendar&extmode=day&date=2007-02-23" title="1 Veranstaltung(en)" class="extcal_busylink" target="">23</a>
<!-- END linkable_row -->

		</td>

		<td height='15' class='extcal_daycell' align='center' valign='top' onMouseOver="extcal_showOnBar('24-Feb-2007');return true;" onMouseOut="extcal_showOnBar('');return true;">
<!-- BEGIN linkable_row -->
			<a href="http://iran-infos.de/index.php?option=com_extcalendar&extmode=day&date=2007-02-24" title="0 Veranstaltung(en)" class="extcal_daylink" target="">24</a>
<!-- END linkable_row -->

		</td>

		<td height='15' class='extcal_sundaycell' align='center' valign='top' onMouseOver="extcal_showOnBar('25-Feb-2007');return true;" onMouseOut="extcal_showOnBar('');return true;">
<!-- BEGIN linkable_row -->
			<a href="http://iran-infos.de/index.php?option=com_extcalendar&extmode=day&date=2007-02-25" title="0 Veranstaltung(en)" class="extcal_sundaylink" target="">25</a>
<!-- END linkable_row -->

		</td>

		</tr>

		<tr>

		<td class='extcal_weekcell' align='center'
				onMouseOver="extcal_showOnBar('Week 10');return true;" 
				onMouseOut="extcal_showOnBar('');return true;">
			<a href="http://iran-infos.de/index.php?option=com_extcalendar&extmode=week&date=2007-03-04" target=""><img src="http://iran-infos.de/components/com_extcalendar/themes/gtek/images/icon-mini-week.gif" width="5" height="20" border="0" alt="Week 10"></a></td>

		<td height='15' class='extcal_daycell' align='center' valign='top' onMouseOver="extcal_showOnBar('26-Feb-2007');return true;" onMouseOut="extcal_showOnBar('');return true;">
<!-- BEGIN linkable_row -->
			<a href="http://iran-infos.de/index.php?option=com_extcalendar&extmode=day&date=2007-02-26" title="0 Veranstaltung(en)" class="extcal_daylink" target="">26</a>
<!-- END linkable_row -->

		</td>

		<td height='15' class='extcal_daycell' align='center' valign='top' onMouseOver="extcal_showOnBar('27-Feb-2007');return true;" onMouseOut="extcal_showOnBar('');return true;">
<!-- BEGIN linkable_row -->
			<a href="http://iran-infos.de/index.php?option=com_extcalendar&extmode=day&date=2007-02-27" title="0 Veranstaltung(en)" class="extcal_daylink" target="">27</a>
<!-- END linkable_row -->

		</td>

		<td height='15' class='extcal_daycell' align='center' valign='top' onMouseOver="extcal_showOnBar('28-Feb-2007');return true;" onMouseOut="extcal_showOnBar('');return true;">
<!-- BEGIN linkable_row -->
			<a href="http://iran-infos.de/index.php?option=com_extcalendar&extmode=day&date=2007-02-28" title="1 Veranstaltung(en)" class="extcal_busylink" target="">28</a>
<!-- END linkable_row -->

		</td>

		<td height='15' class='extcal_othermonth' align='center' valign='middle'></td>

		<td height='15' class='extcal_othermonth' align='center' valign='middle'></td>

		<td height='15' class='extcal_othermonth' align='center' valign='middle'></td>

		<td height='15' class='extcal_othermonth' align='center' valign='middle'></td>

		</tr>

			</table>
	  </td>
  </tr>
</table>

</div>

<style type="text/css">
#extcal_minical .extcal_navbar {
	background-image: url(http://iran-infos.de/components/com_extcalendar/themes/gtek/images/bg1.gif);
	background-repeat: repeat-x;
	border-bottom: 1px solid #B4B4B6;
}
#extcal_minical .extcal_tiny_add_event_link {
	font-family: Verdana;
	font-size: 9px;
	font-weight: normal;
	color:#575767;
	text-decoration: none;
}
#extcal_minical TABLE.extcal_weekdays {
	background-image: url(http://iran-infos.de/components/com_extcalendar/themes/gtek/images/bg1.gif);
	background-repeat: repeat-x;
	border-top: 1px solid #FFFFFF;
}
#extcal_minical TD.extcal_weekdays {
	font-family: "Trebuchet MS", Verdana, Arial, "Microsoft Sans Serif"; 
	font-size: 9px;
	font-weight: normal;
	color: #333333;
	text-decoration: none;
	padding-top: 4px;
}
#extcal_minical .extcal_small {
	font-family: Verdana;
	font-size: 9px;
	color:#575767;
	text-decoration: none;
}
#extcal_minical .extcal_small:link,#extcal_minical .extcal_small:visited {
	text-decoration: none;
}
#extcal_minical .extcal_small:hover {
	text-decoration: underline;
}

#extcal_minical .extcal_daycell,#extcal_minical .extcal_todaycell,
#extcal_minical .extcal_sundaycell,#extcal_minical .extcal_othermonth {
	font-family: "Trebuchet MS", Verdana, Arial, "Microsoft Sans Serif"; 
	font-size: 9px;
	font-weight: bold;
	font-style: normal;
	text-decoration: none;
	color:#555555;
	background-repeat: no-repeat;
	background-position: center center;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-right: 2px;
	padding-left: 2px;
}

#extcal_minical .extcal_todaycell {
	color:#99AAAA;
	background-image: url(http://iran-infos.de/components/com_extcalendar/themes/gtek/images/rect.gif);
}

#extcal_minical .extcal_sundaycell {
	color:#99AAAA;
}

#extcal_minical .extcal_othermonth {
	color:#99AAAA;
}

#extcal_minical .extcal_daylink, #extcal_minical .extcal_sundaylink,
#extcal_minical .extcal_busylink  {
	font-family: "Trebuchet MS", Verdana, Arial, "Microsoft Sans Serif"; 
	font-size: 9px;
	font-weight: bold;
	font-style: normal;
	text-decoration: none;
}

#extcal_minical .extcal_daylink:link,#extcal_minical .extcal_daylink:visited {
	color:#555555;
}

#extcal_minical .extcal_busylink:link,#extcal_minical .extcal_busylink:visited { 
	color:#2266EE;
	text-decoration: none; 
}

#extcal_minical .extcal_sundaylink:link,#extcal_minical .extcal_sundaylink:visited {
	color:#99AAAA;
}

#extcal_minical .extcal_month_label {
	font-family: Verdana, Arial, "Microsoft Sans Serif"; 
	font-size: 10px;
	font-weight: bold;
	color: #565666;
}
#extcal_minical .extcal_picture {
}
#extcal_minical .extcal_weekcell {
  margin: 0px;
  padding: 0px;
}
</style>
<script>
	function extcal_showOnBar(Str)
	{
		window.status=Str;
		return true;
	}
</script>
			</td>
		</tr>
		</table>
				<table cellpadding="0" cellspacing="0" class="moduletable_feed">
					<tr>
				<th valign="top">
					<a href=http://de.search.yahoo.com/search/news?p=iran&fr=FP-tab-news-t340&ei=UTF-8 target=_blank><img src=http://iran-infos.de/images/stories/yahoo.gif border=0></a>				</th>
			</tr>
					<tr>
			<td>
				<table cellpadding="0" cellspacing="0" class="moduletable_feed">
<tr>
	<td>
		<ul class="newsfeed_feed">
<li class="newsfeed_feed">
	<strong>
        <a href="http://us.rd.yahoo.com/dailynews/rss/search/iran/SIG=11l71hvfi/*http%3A//www.heise.de/tp/r4/artikel/24/24550/1.html" target="_blank">
      Marokko: Brutstätte von Terroristen? (TELEPOLIS)</a>
	</strong>
</li>
<li class="newsfeed_feed">
	<strong>
        <a href="http://us.rd.yahoo.com/dailynews/rss/search/iran/SIG=11uumngu7/*http%3A//www.n24.de/news_stories/article.php?articleId=99817" target="_blank">
      Prinz Harry soll in den Irak (N24)</a>
	</strong>
</li>
<li class="newsfeed_feed">
	<strong>
        <a href="http://us.rd.yahoo.com/dailynews/rss/search/iran/SIG=15ealf666/*http%3A//www.abendzeitung.de/cgi-bin/suche.pl?func=anzeigen&amp;filename=iptc-bdt-20070217-105-dpa_13833866.nitf&amp;sqlsuche=-infoline-boulevard&amp;linknummer=4&amp;code=3180785.57809231" target="_blank">
      Zeitung:Prinz Harry soll Ende Februar in den Irak (Abendzeitung Online)</a>
	</strong>
</li>
<li class="newsfeed_feed">
	<strong>
        <a href="http://us.rd.yahoo.com/dailynews/rss/search/iran/SIG=15ic7dlc8/*http%3A//www.abendzeitung.de/cgi-bin/suche.pl?func=anzeigen&amp;filename=iptc-hfk-20070217-60-dpa_13831658.nitf&amp;sqlsuche=-infoline-schlaglichter&amp;linknummer=70&amp;code=3180785.57809231" target="_blank">
      Prinz Harry soll Ende Februar mit Regiment in Irak (Abendzeitung Online)</a>
	</strong>
</li>
    </ul>
	</td>
</tr>
</table>
			</td>
		</tr>
		</table>
				<table cellpadding="0" cellspacing="0" class="moduletable">
					<tr>
				<th valign="top">
					Suche				</th>
			</tr>
					<tr>
			<td>
				
<form action="index.php?option=com_search&amp;Itemid=73" method="get">
    <div class="search">
        <input name="searchword" id="mod_search_searchword" maxlength="50" alt="search" class="inputbox" type="text" size="20" value="Suchwort eingeben..."  onblur="if(this.value=='') this.value='Suchwort eingeben...';" onfocus="if(this.value=='Suchwort eingeben...') this.value='';" />    </div>

    <input type="hidden" name="option" value="com_search" />
    <input type="hidden" name="Itemid" value="73" />   
</form>			</td>
		</tr>
		</table>
		</td>

                   </tr>
        </table>

    </td></tr>

    <tr><td align="right"  class="footer">

 
<!-- Site Meter -->
<script type="text/javascript" src="http://s30.sitemeter.com/js/counter.js?site=s30iraninfosde">
</script>
<noscript>
<a href="http://s30.sitemeter.com/stats.asp?site=s30iraninfosde" target="_blank">
<img src="http://s30.sitemeter.com/meter.asp?site=s30iraninfosde" alt="Statistics" border="0"/></a>
</noscript>
<!-- Copyright (c)2006 Site Meter -->




&nbsp;&nbsp;(c) by <a href="http://iran-infos.de" target="_blank">Iran-Infos.de</a>&nbsp;&nbsp;
<a href="http://iran-infos.de/usage" target="_blank"><img src=http://iran-infos.de/images/stats.gif border=0 alt=Statistiken></a>
    </td></tr>
    </table>

   </td>
  <td valign="top" width="200" nowrap><center>
   
   <table border="0" valign="top" width="130" align="center"><tr><td height="100" valign="top">&nbsp;</td></tr>
   
<tr><td class="werbung"><center>Werbung</center></td></tr>
<tr><td class="werbung"><center><a href=http://iranlove.de target=_blank><img src="http://iran-infos.de/images/firmen/iranlove3.gif" border="0"></a></center></td></tr>


<tr><td class="werbung"><center><a href="http://www.GiftToIran.com/default.asp?af=behrus&amp;bn=3" target="blank"><img src="http://www.GiftToIran.com/affiliates/banners//GiftToIran_140x120.gif" border="0" alt="GiftToIran.com" width="125" height="120" /></a></center></td></tr>
<tr><td class="werbung"><center>
<A HREF=http://IranianPersonals.com/?affiliateID=iran-infos.de target=_blank>
<IMG SRC="http://IranianPersonals.com/affiliate/banners/IrTile4.gif" BORDER="0" ALT="Click here to meet single Iranian men and women"></a></center></td></tr>
<tr><td class="werbung"><center><a href=http://iran-infos.de/index.php/component/option,com_wrapper/Itemid,83/><img src="http://iran-infos.de/images/amazon.gif" border="0"></a></center></td></tr>



       </table>
   </center>
 </td>
</tr>
 </table>
</body>
</html><!-- 1171760658 -->